.this\:primary {
  --this-lighter: var(--color-primary-400);
  --this-light: var(--color-primary-500);
  --this: var(--color-primary-600);
  --this-darker: var(--color-primary-700);
  --color-this-lighter: var(--color-primary-400);
  --color-this-light: var(--color-primary-500);
  --color-this: var(--color-primary-600);
  --color-this-darker: var(--color-primary-700);
}

.this\:secondary {
  --this-lighter: var(--color-secondary-lighter);
  --this-light: var(--color-secondary-light);
  --this: var(--color-secondary);
  --this-darker: var(--color-secondary-darker);
  --color-this-lighter: var(--color-secondary-lighter);
  --color-this-light: var(--color-secondary-light);
  --color-this: var(--color-secondary);
  --color-this-darker: var(--color-secondary-darker);
}

.this\:info {
  --this-lighter: var(--color-info-lighter);
  --this-light: var(--color-info-light);
  --this: var(--color-info);
  --this-darker: var(--color-info-darker);
  --color-this-lighter: var(--color-info-lighter);
  --color-this-light: var(--color-info-light);
  --color-this: var(--color-info);
  --color-this-darker: var(--color-info-darker);
}

.this\:success {
  --this-lighter: var(--color-success-lighter);
  --this-light: var(--color-success-light);
  --this: var(--color-success);
  --this-darker: var(--color-success-darker);
  --color-this-lighter: var(--color-success-lighter);
  --color-this-light: var(--color-success-light);
  --color-this: var(--color-success);
  --color-this-darker: var(--color-success-darker);
}

.this\:warning {
  --this-lighter: var(--color-warning-lighter);
  --this-light: var(--color-warning-light);
  --this: var(--color-warning);
  --this-darker: var(--color-warning-darker);
  --color-this-lighter: var(--color-warning-lighter);
  --color-this-light: var(--color-warning-light);
  --color-this: var(--color-warning);
  --color-this-darker: var(--color-warning-darker);
}

.this\:error {
  --this-lighter: var(--color-error-lighter);
  --this-light: var(--color-error-light);
  --this: var(--color-error);
  --this-darker: var(--color-error-darker);
  --color-this-lighter: var(--color-error-lighter);
  --color-this-light: var(--color-error-light);
  --color-this: var(--color-error);
  --color-this-darker: var(--color-error-darker);
}
